
// Fonts
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #8DCB1F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    .navbar-brand img {
        height: 30px;
    }

    .nav-link {
        color: #fff;
    }
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #ddd;
    line-height: 1.2;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        font-size: 85%;
        color: #666;
    }
}

.items-table {
    width: 100%;
    color: #212529;
    margin: 2rem 0 0 0;
}

.items-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #dee2e6;
}

.items-table-row.header {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    font-weight: 700;
}

.items-table-col {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    flex: 1;
    padding: 0.75rem;
    align-items: start;
    flex-grow: 1;
}

.items-table-col.suspicion {
    flex-shrink: 1;
    flex-grow: 0;
}

.items-table .type,
.items-table .symptoms {
    width: 10%;
}

.items-table .suspicion {
    flex-basis: 5%;
}

.items-table .actions {
    white-space: nowrap;
}



