@import '_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

.eallergiepass {

    nav {
        background-color: #8DCB1F;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        margin-bottom: 2rem;
    }

    .navbar-brand img {
        height: 30px;
    }

    nav.breadcrumb {
        margin-top: -2em;
        background-color: lighten($primary, 20%);
    }

}

html {
    height: 100%;
}


body {
    position: relative;
    margin: 0;
    padding-bottom: 8rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #ddd;
    line-height: 1.2;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        font-size: 85%;
        color: #666;
    }
}

.list-group li {
    list-style: none;
}

.list-group-item {
    border: none;
}

.list-group-item a {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: darken($primary, 10%);
    border-radius: 0 !important;
}

.list-group-item a:last-child {
    border-radius: 0 !important;
    border-width: 1px 1px 1px 1px;
}

.list-group-item-action {
    padding: 0;
    border-radius: 0;

    a {
        display: block;
        background: lighten($primary, 47%);
        color: #333;
        font-weight: 500;
        padding: 1rem 1rem 1rem 2.5rem;
        text-decoration: none;

        &:hover  {
            background: lighten($primary, 30%);
        }
    }

    .icon-left {
        position: absolute;
        top: 1rem;
        left: .8rem;
        color: #333;
    }

    .icon-right {
        position: absolute;
        top: 1rem;
        right: .8rem;
        color: #888;
    }
}

.list-group.no-border {
    .list-group-item a {
        border: none;
    }
}

.list-group.no-background {
    a {
        background: transparent;
    }
}


h1 {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

h2 {
    color: #666;
    font-size: 120%;
    font-weight: 600;
    margin: 1rem 0 0.3em 0;
    padding: 0;
}

h3 {
    color: #666;
    font-size: 120%;
    font-weight: 600;
    margin: 1rem 0 0.3em 0;
    padding: 0;
}

h4 {
    font-size: 120%;
    font-weight: 600;
    margin: 1rem 0 0.3em 0;
    padding: 0;
}

.alert-icon {
    position: relative;

    .icon {
        position: absolute;
        top: .7rem;
        left: 1.5rem;
    }

    .content {
        padding: 0 0 0 2rem;
    }


    &.p-0 .icon {
        left: 0;
        top: .3rem;
    }
}
