
.eallergiepass {

    nav {
        background-color: #8DCB1F;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }

    .navbar-brand img {
        height: 30px;
    }

}

html {
    height: 100%;
}


body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #ddd;
    line-height: 1.2;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        font-size: 85%;
        color: #666;
    }
}
