@import '_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

.eallergiepass {

    nav {
        background-color: #8DCB1F;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        margin-bottom: 2rem;
    }

    .navbar-brand img {
        height: 30px;
    }

}

html {
    height: 100%;
}


body {
    position: relative;
    margin: 0;
    padding-bottom: 8rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #ddd;
    line-height: 1.2;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        font-size: 85%;
        color: #666;
    }
}

.list-group-item,
.list-group-item:last-child {
    border-radius: 0 !important;
}

.list-group-item-action {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 0;

    a {
        display: block;
        background: #fff;
        color: #000;
        padding: 1rem 1rem 1rem 2.5rem;
        text-decoration: none;

        &:hover  {
            background: #eee;
        }
    }

    .icon-left {
        position: absolute;
        top: 1rem;
        left: .8rem;
    }

    .icon-right {
        position: absolute;
        top: 1rem;
        right: .8rem;
        color: #aaa;
    }
}


h1 {
    font-size: 140%;
    margin: 0 0 1rem 0;
}

h2 {
    color: #999;
    font-size: 120%;
    font: bold;
    margin: 0;
    padding: 0;
}

h3 {
    color: #999;
    font-size: 120%;
    font: bold;
    margin: 1rem 0 0.3em 0;
    padding: 0;
}

h4 {
    font-size: 120%;
    font: bold;
    margin: 1rem 0 0.3em 0;
    padding: 0;
}

.alert-icon {
    position: relative;

    .icon {
        position: absolute;
        top: .7rem;
        left: 1.5rem;
    }

    .content {
        padding: 0 0 0 2rem;
    }


    &.p-0 .icon {
        left: 0;
        top: .3rem;
    }
}
